<% if flash.has?(:message) %>
  <b style="color:Red;"><%= flash[:message] %></b>
<% end %><br>
<h1>AutoDealerInventory</h1>
<form action="/login" method=POST>
  Username: <input type="text" name="username"><br>
  <br>
  Password: <input type="password" name="password"><br>
  <br>
  <input type= "submit" value="Login" id="submit">
</form>
