<% if flash.has?(:message) %>
  <b style="color:Red;"><%= flash[:message] %></b>
<% end %><br>
<h1>AutoDealerInventory</h1>
<form action="/signup" method=POST>
  Create Username: <input type="text" name="username" placeholder="Required"><br>
  <br>
  Create Password: <input type="password" name="password" placeholder="Required"><br>
  <br>
  Dealership Name: <input type="text" name="dealership" placeholder="Required"><br>
  <br>
  <input type="submit" value="Register">
</form>
