<h1>AutoDealerInventory</h1>
<form action="/signup" method=POST>
  Create Username: <input type="text" name="username"><br>
  <br>
  Create Password: <input type="password" name="password"><br>
  <br>
  Dealership Name: <input type="text" name="dealership"><br>
  <br>
  <input type="submit" value="Register">
</form>
